torch>=1.7.0
torchvision>=0.8.2
transformers==4.25.1
accelerate
datasets==3.5.1
evaluate==0.4.3
diffusers==0.16.1
scipy==1.15.2
clip-by-openai
gradio>=5
facenet-pytorch==2.5.3
huggingface_hub<0.26
triton
